{{ form.username.label_tag }}<br>
{{ form.username }}
{{ form.username.errors }}<br>

{{ form.password.label_tag }}<br>
{{ form.password }}
{{ form.password.errors }}<br>

{{ form.email.label_tag }}<br>
{{ form.email }}
{{ form.email.errors }}<br>

{{ form.first_name.label_tag }}<br>
{{ form.first_name }}
{{ form.first_name.errors }}<br>

{{ form.last_name.label_tag }}<br>
{{ form.last_name }}
{{ form.last_name.errors }}<br>

{{ form.user_info.label_tag }}<br>
{{ form.user_info }}
{{ form.user_info.errors }}<br>

{{ form.phone_number.label_tag }}<br>
{{ form.phone_number }}
{{ form.phone_number.errors }}<br>

{{ form.avatar.label_tag }}<br>
{{ form.avatar }}
{{ form.avatar.errors }}<br>

{{ form.gender.label_tag }}<br>
{{ form.gender }}
{{ form.gender.errors }}<br><br>